.main-container {
  display: flex;
  min-height: 25rem;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.mainlogo__div {
  position: absolute;
  width: 100%;
  top: 1.5rem;
  left: -20rem;
  z-index: -1;
}

.mainlogo__img {
  max-width: 25rem;
  position: absolute;
  animation: move 5s infinite, rotate 5s infinite;
  animation-direction: alternate;
}

.sublogo__div {
  text-align: center;
  z-index: 1;
}

.sublogo__img {
  width: 25rem;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: 120%;
  }
}

.move {
  animation: move 3s linear infinite;
  animation-direction: alternate; /* 왔다갔다 하게해줌 */
  animation-delay: 2s;
}
